.how-it-works{
    margin-top: 200px;
}

.how-it-works__inner-title{
    font-family: "Inter-Regular",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    text-shadow: 2px 0 2px #5f5f5f, 0 2px 2px #5f5f5f, -2px 0 2px #5f5f5f, 0 -2px 2px #5f5f5f;
    color: #fff;
    margin-bottom: 40px;
}

.line1{
    background-image: url(../images/vector-26.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 114.21px;
    height: 409.05px;
}

.how-it-works__inner .card{
    background-image: url(../images/how-it.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 197px;
    box-shadow: 0px 0px 6px rgba(50, 42, 50, 0.25);
    border-radius: 10px;
}

.how-it-works__inner-title1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 126%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #202020;

    padding-top: 40px;
}

.how-it-works__inner-text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 126%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #5F5F5F;

    padding-top: 20px;
}


.items{
    background-image: url(../images/group-24.svg);
    background-position: center;
    background-repeat: no-repeat;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 100px;
}

.items2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}


// последняя карточка
.vidget-card{
    background-image: url(../images/frame32.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 820px;
    height: 320px;

    box-shadow: 0px 0px 6px rgba(50, 42, 50, 0.25);
    border-radius: 10px;

    margin-top: 120px;
    margin-left: 180px;
}

.vidget-card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 123.5%;

    text-align: center;
    letter-spacing: 0.02em;
    color: #202020;

    padding-top: 40px;
}

.vidget-card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    color: #202020;

    padding-top: 25px;
}

.work-btns{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    margin-left: 240px;
    margin-right: 260px;
}

.vidget-card-btn1{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    background-color: #fdf18d;
    color: #202020;
    border-radius: 10px;
    padding: 12px 40px;
    font-size: 16px;
    position: absolute;
    line-height: 19px;
}

.vidget-card-btn2{
    border-radius: 10px;
    padding: 12px 40px;
    font-size: 16px;
    position: absolute;
    line-height: 19px;
    width: 135px;
    height: 48px;
    border: 2px solid #fdf18d;
    border-radius: 10px;
    margin-left: 260px;
    text-align: center;
}