.header {
  margin-top: 20px;
}

.header__inner {
  display: flex;
  max-width: 1240px;
  align-items: center;
  justify-content: space-between;
}

.header__inner-img {
  height: 48px;
  width: 40px;
}

.header__inner-title {
  margin-left: 20px;
}

.header__inner-item {
  display: flex;
  align-items: center;
}

.header__inner-button {
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-weight: 500;
  line-height: 24px;
  float: right;
  text-decoration: none;
  padding: 10px 35px;
  color: rgb(255, 255, 255);
  z-index: 10;
}

.header__inner-title {
  @extend %sf-semibold !optional;
  font-size: 20px;
  line-height: 120.02%;
}

.header__inner-button {
  @extend %sf-medium !optional;
  font-size: 20px;
  line-height: 24px;
}

.header::after{
    content: "";
    position: absolute;
    background-image: url("../images/ellipse-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 1464px;
    width: 100%;
    height: 780.69px;
    top: 0;
    right: -280px;
    z-index: -1;
}